// Main Color
$main-green: #18c485;
$main-blue: #047cba;
$main-yellow: #df9310;
$main-black: #231f20;

// Secondary Color
$secondary-yellow: #ffb718;
$secondary-purple: #904799;
$secondary-green: #8bdc64;
$secondary-red: #ff5b34;

// Hover Effects
$hover-yellow: #F09F13;
$hover-blue: #1588bd;
$hover-green: #29d088;
$hover-red: #ff6737;

// Corp Color Background
$background: #f8f8f8;